.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Set height as needed */
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .main-heading {
    font-size: 24px; /* Adjust font size */
    font-weight: bold;
    font-family: sans-serif; /* Change font to sans-serif */
    margin: 0; /* Remove default margin */
    margin-right: 10px; /* Add some spacing between main heading and sub heading */
  }
  
  .sub-heading {
    font-size: 18px; /* Adjust font size */
    margin: 0; /* Remove default margin */
  }
  